/*global*/
body{
    background-color: #f4f4f4;
}

a{
    display: block;
    color:#333;
    font-size: 16px;
    font-family: 微软雅黑;
}
a:hover{
    color:#076ce0;
    text-decoration: none;
}
/*header*/
.cl-header {
    background-color: #fff;
    /*height: 80px;*/
    /*line-height: 80px;*/
    /*box-shadow:0 5px 15px rgba(153, 153, 153, 0.1)!*添加阴影*!*/
}
.header-content{
    position: relative;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.navbar-toggler:not(:disabled):not(.disabled):focus{
    outline: none;
}
.navbar{
    padding:0;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 0 20px;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
    color: #076ce0;
}

.nav .nav-item a.active{
    color: #076ce0;
    font-weight: bold;
}

.navbar .navbar-brand img{
    max-width: 100%;
    max-height: 100%;
}
.recommend-index{
    margin-bottom:20px;
}



/*footer*/
.cl-footer{
    background-color: #2d3e50;
    text-align: center;
    padding:2rem 0 1rem 0;
    /* margin:1rem 0 1rem 0; */
    border-top:1px solid #f1f1f1;
    /*margin-left: 10px;*/

}
.cl-footer-link a{
    font-size:20px;
    padding:1rem 0;
    color:#666;
}

.cl-copyright{
    color:#666;
    font-size:14px;
    line-height:0.8em;
   
}

.text-primary{
    text-align: right;
}
.text-primary a{
    font-size:14px;
    color:#666;
}
@media (min-width: 576px){
    .ll-panel{
        max-width: 30%;
    }
}

/*recommend aritical*/
.recommend-panel{
    margin:20px 0;
}
.recommend-panel a.recommend-panel-link{
    display: block;
}
.recommend-panel-bottom{
    padding:0.5rem;
    font-size:14px;
}
.ll-title{
    margin:3rem 0 1rem 0;
    color:#333;
}
.recommend-panel-top{
    overflow: hidden;
    height: 12rem;
}

.recommend-panel-top img,.recommend-item img,.cl-card-image img{
    width: 100%;
    max-width: 100%;
    transition:0.4s ease-out;
    -webkit-transition:0.4s ease-out;
    -moz-transition:0.4s ease-out;
    -o-transition:0.4s ease-out;
}
.recommend-panel-top img:hover,.recommend-item img:hover,.cl-card-image img:hover{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}
第二模块 */
.jumbotron-one{
    height: 650px;
    position: relative;
}
.szy-tow {
    height: 600px;
    /* position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%)
    translatey(-50%) */

 }
 .szy-tow-1{
    margin-right: 100px;
    margin-top: 50px
 }
.szy-tow-1 p{
    font-size: 20px;
    font-family: 微软雅黑;
}
.szy-tow-1 span {
    font-size: 13px;
    font-family: 微软雅黑;
} 
.szy-tow-2 {
    width: 30%;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 5%;
    background: url(cssimg/szy1.png) no-repeat content-box ;
}
/* .container-tow{
    width:1200px;
    height: 291px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%)
    translatey(-50%);
}
.word{
    font-size: 30px;
    font-family: 微软雅黑;
    color: blue;
    font-weight:bold ;
    max-width: 750px;
    padding: 20px 75px 20px 75px;
    margin: 10px;
    line-height: 90px;
}
.word-1{
    width: 500px;
    height: 150px;
    position: absolute;
    left: 7%;
    top: 30%;
    /* transform: translate(-50%)
    translatey(-50%); */
/* } */
/* .word-i span{
    font-size: 16px;
    font-family: 微软雅黑;
    color: black;
    padding: 0px 90px;
    left: 50%;
}
.image-1{
    width: 388px;
    height: 388px;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%)
    translatey(-50%);
}
.image-2{
    width: 65px;
    height: 65px;
    position: absolute;
    left: 10%;
    top: 100%;
    transform: translate(-50%)
    translatey(-50%);
}
.but-1{
    width: 120px;
    height: 65px;
    background: #5d94fb;
    position: absolute;
    left: 90%;
    top: 55%;
    transform: translate(-50%)
    translatey(-50%);
    cursor: default;
}
.but-1 a{
    height: 100px;
    text-decoration: none;
    font-size: 16px;
    line-height: 63px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%)
    translatey(-50%);
}
.but-2{
    width: 80px;
    height: 65px;
    background: #2a5cb9;
    position: absolute;
    left: 98%;
    top: 55%;
    transform: translate(-50%)
    translatey(-50%);
    cursor: default;
}
.but-2 span{
    height: 100px;
    text-decoration: none;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%)
    translatey(-50%);
} */
/* 产品介绍界面*/
.jumbotron-i{
    height: 670px;
    position: relative;
}
.container-i{
    width: 320px;
    height: 96px;
    margin:0 auto;
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-50%)
    translatey(-50%);
}
.container-i span{
    font-size: 30px;
    color: rgb(51, 129, 255);
    font-weight:bold;
    font-family: 微软雅黑;
}
.mod_service{
    width: 1800px; 
    height: 400px;
}
.mod_service ul li{
    float: left;
    width: 300px;
    height: 300px;
}
.mod_service ul li h5{
    float: left;
    width: 280px;
    height: 280px;
}
.mod_service ul li h4{
    float: left;
    width: 280px;
    height: 280px;
}
.mod_service ul li p{
    float: left;
    width: 280px;
    height: 280px;
}

/*字体*/
.szy-yahei{
    font-family: 微软雅黑;
}

.szy-yahei-22px-blue{
    font-family: 微软雅黑;
    font-size: 22px;
    color: rgb(91, 146, 251);
    margin-bottom: 0
}

.szy-yahei-18px-white{
    font-family: 微软雅黑;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 0
}

.szy-yahei-16px-white{
    font-family: 微软雅黑;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 0
}

.szy-index-img{
    height: 250px;
    width: 250px
}

.szy-end-padding{
    padding: 5px;
}